<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'templates/home.css' %}">    
    <title>home</title>
</head>
<body>
    <div class="center">
        <div class="grid">
            <img></a>
            <div class="container">
                <img onclick="window.location.href='iff'" src="\static\images\iff.png"></a>
            </div>
            <div class="container">
                <img onclick="window.location.href='ym'" src="\static\images\ym.png"></a>
            </div>
            <div class="container">
                <img onclick="window.location.href='mm'" src="\static\images\mm.png"></a>
            </div>
            <img></a>
        </div>
    </div>
</body>
</html>