<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'templates/mm.css' %}">
    <title>Merghelynck Museum Quality</title>
</head>
<body>
    <div class='maingrid'>
        <div class='container'>
            <img src="\static\images\mm.png"></a>
        </div>
        <div class="header">
            <h1> DIGITAAL</h1>
        </div>
        <div class="quality" onclick="window.location.href='mm'">
            <div class="topgrid">
                <img src="\static\images\quality2.png"></a>
                <h1 class="white">Quality</h1>
            </div>
        </div>
        <div class="stats" onclick="window.location.href='mmstats'">
            <div class="topgrid">
                <img src="\static\images\stats.png"></a>
                <h1>Statistics</h1>
            </div>
        </div>
        <div class='bottom'>
            <div class="collectie">
                <div>
                    <h1>Collectie</h1>
                </div>
                <div class="tabblad">
                    <div class='name'>
                        <h2>Identificatie</h2>
                    </div>
                    <div class="runbutton">
                        <button onclick="location.href='mmq001'" class="button">run</button>
                    </div>
                    <div class='name'>
                        <h2>Vervaardiging</h2>
                    </div>
                    <div class="runbutton">
                        <button onclick="location.href='mmq002'" class="button">run</button>
                    </div>
                    <div class='name'>
                        <h2>Fysieke Kenmerken</h2>
                    </div>
                    <div class="runbutton">
                        <button onclick="location.href='mmq001'" class="button">run</button>
                    </div>
                    <div class='name'>
                        <h2>Iconografie & Associaties</h2>
                    </div>
                    <div class="runbutton">
                        <button onclick="location.href='mmq004'" class="button">run</button>
                    </div>
                    <div class='name'>
                        <h2>Rechten</h2>
                    </div>
                    <div class="runbutton">
                        <button onclick="location.href='mmq005'" class="button">run</button>
                    </div>
                    <div class='name'>
                        <h2>Verwerving</h2>
                    </div>
                    <div class="runbutton">
                        <button onclick="location.href='mmq001'" class="button">run</button>
                    </div>
                </div>
            </div>
            <div class="collectie">
                <h1>Thesauri</h1>
                <div class="tabblad">
                    <div class='name'>
                        <h2>Thesaurus</h2>
                    </div>
                    <div class="runbutton">
                        <button onclick="location.href='mmt001'" class="button">run</button>
                    </div>
                    <div class='name'>
                        <h2>Personen & Instellingen</h2>
                    </div>
                    <div class="runbutton">
                        <button onclick="location.href='mmq001'" class="button">run</button>
                    </div>
                </div>
            </div>
            <div class="collectie">
                <h1>Beeld</h1>
                <div class="tabblad">
                    <div class='name'>
                        <h2>CMS - Server</h2>
                    </div>
                    <div class="runbutton">
                        <button onclick="location.href='mmb001'" class="button">run</button>
                    </div>
                    <div class='name'>
                        <h2>Server</h2>
                    </div>
                    <div class="runbutton">
                        <button onclick="location.href='mmb002'" class="button">run</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>