.kdam-thmor pro-regular {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.maingrid {
    display: grid;
    grid-template-rows: 250px 90px 80000px;
    grid-template-columns: 25% 25% 25% 25%;
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.maincollection {
    grid-row: 3;
    grid-column: 1 / 5;
    margin: 20px;
    border: 10px solid;
    border-radius: 15px;
}

.collection {
    grid-row: 3;
    grid-column: 1 / 5;
    margin: 20px;
}

.container {
    margin: 5px;
    padding: 5px;
    grid-row: 1;
    grid-column: 1;
    margin-bottom: 30px;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.header {
    grid-row: 1;
    grid-column: 2 / 5;
}

.header h1 {
    margin-top: 25px;
    margin-bottom: auto;
    margin-left: 15px;
    font-size: 130px;
}

.quality {
    grid-row: 2;
    grid-column: 1 / 2;
    border: 5px solid black;
    border-radius: 15px;
}

.quality:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: 5px 8px #888888;
    cursor: pointer;
}

.forms {
    grid-row: 2;
    grid-column: 3 / 4;
    border: 5px solid black;
    border-radius: 15px;
    margin-left: 10px;
}

.forms:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: 5px 8px #888888;
    cursor: pointer;
}

.stats {
    grid-row: 2;
    grid-column: 2 / 3;
    border: 5px solid black;
    border-radius: 15px;
    margin-left: 10px;
}

.stats:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: 5px 8px #888888;
    cursor: pointer;
}

.requests {
    grid-row: 2;
    grid-column: 4 / 5;
    border: 5px solid black;
    background-color: black;
    border-radius: 15px;
    margin-left: 10px;
}

.requests:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: 5px 8px #888888;
    cursor: pointer;
}

.topgrid {
    display: grid;
    grid-template-columns: 10% 90%;
    height: 100%;
}

.topgrid img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    margin-top: auto;
    margin-left: 10px;
    margin-bottom: auto;
}

.topgrid h1 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.white {
    color: whitesmoke;
}

.midgrid {
    display: grid;
    grid-template-rows: 10%, 90%;
}

.accordion {
    font-family: "Kdam Thmor Pro", sans-serif;
    background-color: #eee;
    border-radius: 15px;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
    box-shadow: 2px 4px #888888;
}

.panel {
    padding: 0 10px;
    background-color: #fffef2;
    border-radius: 15px;
    margin: 15px;
    display: none;
    overflow: hidden;
}

.titlegrid {
    display: grid;
    grid-template-columns: 5% 95%;
}

.title {
    margin-left: 25px;
}

.titlegrid img {
    height: 70px;
    object-fit: cover;
    margin-top: auto;
    margin-left: 10px;
    margin-bottom: auto;
}