<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'templates/iff.css' %}">    
    <title>iff</title>
</head>
<body>
    <div class='maingrid'>
        <div class='container'>
            <img src="\static\images\iff.png"></a>
        </div>
        <div class="header">
            <h1> DIGITAAL</h1>
        </div>
        <div class="quality" onclick="window.location.href='iff'">
            <div class="topgrid">
                <img src="\static\images\quality2.png"></a>
                <h1 class="white">Quality</h1>
            </div>
        </div>
        <div class="stats" onclick="window.location.href='iffstats'">
            <div class="topgrid">
                <img src="\static\images\stats.png"></a>
                <h1>Statistics</h1>
            </div>
        </div>
        <div class="forms" onclick="window.location.href='iffstats'">
            <div class="topgrid">
                <img src="\static\images\forms.png"></a>
                <h1>Forms</h1>
            </div>
        </div>
        <div class="maincollection">
            <div class="collection">
                <button class="accordion">
                    <div class="titlegrid">
                        <img src="\static\images\collection.png"></a>
                        <h1 class="title">COLLECTIE</h1>
                    </div>
                </button>
                <div class="panel">
                    <div>
                        <button onclick="location.href='iffquality'" class="button">run</button>
                    </div>
                </div>
            </div>
            <div class="collection">
                <button class="accordion">
                    <div class="titlegrid">
                        <img src="\static\images\images.png"></a>
                        <h1 class="title">BEELDEN</h1>
                    </div>
                </button>
                <div class="panel">
                    <div>
                        <button onclick="location.href='iffimage'" class="button">run</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
            });
        }
    </script>
</body>
</html>